<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="assets/style.css">
    <!-- injector:css -->
    <link rel="stylesheet" href="app/app.css">
    <link rel="stylesheet" href="app/main/main.css">
    <link rel="stylesheet" href="components/modal/modal.css">
    <link rel="stylesheet" href="components/sidebar/sidebar.css">
    <!-- endinjector -->
    <!-- endbuild -->
    <script src='//maps.googleapis.com/maps/api/js?libraries=weather,visualization,places,geometry&sensor=false'></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>google.load('visualization', '1', {packages: ['corechart']});</script>
</head>

<body ng-app="datafestApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div layout="row" layout-fill layout-align="center center" class="loader" ng-show="!mapLoaded">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div layout="column" layout-fill ng-controller="AppCtrl" style="min-height:100%; max-height:100%;">
        <md-toolbar layout="row">
            <button ng-click="toggleLeft()" hide-gt-md class="menuBtn">
                <span class="visually-hidden">Menu</span>
            </button>
            <div layout="row" class="logo-img" layout-align="center center">
                <img class="img-logo" src="assets/images/sheetwhite.png">
            </div>
            <div layout="row" class="logo-header" layout-margin class="menuBtn">
                <h1 class="app-title">Breathe Better</h1>
            </div>
            <div layout="row" flex layout-align="end center" hide-gt-md class="configButton">
                <div layout-margin><md-icon class="icon-tune input-icon" ng-click="$root.toggleable = !$root.toggleable"></md-icon></div>
            </div>
        </md-toolbar>
        <section layout="row" flex layout-fill>
            <md-sidenav ng-include="'components/sidebar/sidebar.html'" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"></md-sidenav>
            <div layout="horizontal" flex layout-fill ng-view=""></div>
        </section>
    </div>
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,client}) app/app.js -->
    <script src="app/app.js"></script>
    <!-- injector:js -->
    <script src="app/MainMap/MainMap.service.js"></script>
    <script src="app/aire/aire.service.js"></script>
    <script src="app/bicimad/bicimad.service.js"></script>
    <script src="app/chart/chart.service.js"></script>
    <script src="app/geoloc/geoloc.service.js"></script>
    <script src="app/geometry/geometry.service.js"></script>
    <script src="app/main/main.controller.js"></script>
    <script src="app/main/main.js"></script>
    <script src="app/polution/polution.service.js"></script>
    <script src="app/polygons/polygons.service.js"></script>
    <script src="app/route/route.service.js"></script>
    <script src="app/shData/shData.service.js"></script>
    <script src="app/sheet/sheet.controller.js"></script>
    <script src="app/toxic/toxic.service.js"></script>
    <script src="app/weather/weather.service.js"></script>
    <script src="components/modal/modal.service.js"></script>
    <script src="components/navbar/navbar.controller.js"></script>
    <script src="components/sidebar/sidebar.controller.js"></script>
    <!-- endinjector -->
    <!-- endbuild -->
</body>

</html>
