<div layout="column" flex layout-fill>
    <md-toolbar class="md-hue-1" layout="center">
        <div layout="row" flex layout-fill>
            <div flex="88" layout="row" layout-margin layout-align="start center">
                <md-switch ng-model="weatherButtonActive" ng-change="toggleWeather(weatherButtonActive)" aria-label="Switch 1">
                    Weather
                </md-switch>
                <md-switch ng-model="pollutionButtonActive" ng-change="togglePollution(pollutionButtonActive)" aria-label="Switch 1">
                    Pollution
                </md-switch>
            </div>
            <div flex layout="row" layout-margin layout-align="end center">
                <md-button md-no-ink class="md-primary" ng-click="showGridBottomSheet()"><span class="icon-history2"></span></md-button>
            
            </div>
        </div>

    </md-toolbar>
    <md-button class="md-fab mypos-button" ng-click="GoToRealPos()" aria-label="My position">
            <md-icon class="icon-gps-fixed"></md-icon>
        </md-button>
    <div id="map-canvas" layout="horizontal" flex layout-fill>
    </div>
</div>
<!--
<label for="exampleInputName2">Origin</label>
<input type="text" class="form-control" ng-model="origin" class="form-control">

<label for="exampleInputEmail2">Destination</label>
<input type="email" class="form-control" ng-model="destination" ng-change="calcRoute(origin, destination);">-->
