.map-headers h5 {
    border: 5px solid rgb(89, 89, 89);
}

#map-canvas,
#map-canvas2 {
    min-height: 100%;
    width: 100%;
}

.infoWindowContent {
    font-size: 14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.tabsdemoStaticTabs {
    /*
 * Animation styles
 */
}

.tabsdemoStaticTabs .sample {
    height: 450px;
}

.tabsdemoStaticTabs #tab1-content {
    background-color: #3F51B5;
}

.tabsdemoStaticTabs #tab2-content {
    background-color: #673AB7;
}

.tabsdemoStaticTabs #tab3-content {
    background-color: #00796B;
}

.tabsdemoStaticTabs .tabpanel-container {
    display: block;
    position: relative;
    background: white;
    border: 0px solid black;
    height: 300px;
    overflow: hidden;
}

.tabsdemoStaticTabs [role="tabpanel"] {
    color: white;
    width: 100%;
    height: 100%;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    position: absolute;
}

.tabsdemoStaticTabs [role="tabpanel"].ng-hide-remove-active,
.tabsdemoStaticTabs [role="tabpanel"].ng-hide-add {
    top: -300px;
}

.tabsdemoStaticTabs [role="tabpanel"].ng-hide-remove-active,
.tabsdemoStaticTabs [role="tabpanel"].ng-hide-remove-active {
    top: 0;
}

.tabsdemoStaticTabs [role="tabpanel"].ng-hide-add {
    z-index: 100;
}

.tabsdemoStaticTabs .tabpanel-container [role="tabpanel"] {
    padding: 20px;
}

.tabsdemoStaticTabs .after-tabs-area {
    padding: 25px;
}

.tabsdemoStaticTabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px;
}

.tabsdemoStaticTabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0px;
}

.tabsdemoStaticTabs .md-header {
    background-color: #1976D2 !important;
}

.tabsdemoStaticTabs md-tab {
    color: #90caf9 !important;
}

.tabsdemoStaticTabs md-tab.active,
.tabsdemoStaticTabs md-tab:focus {
    color: white !important;
}

.tabsdemoStaticTabs md-tab[disabled] {
    opacity: 0.5;
}

.tabsdemoStaticTabs .md-header .md-ripple {
    border-color: #FFFF8D !important;
}

.tabsdemoStaticTabs md-tabs-ink-bar {
    background-color: #FFFF8D !important;
}

.tabsdemoStaticTabs md-tabs .md-paginator {
    color: white;
}

.mypos-button {
    position: fixed;
    bottom: 20px;
    right: 10px;
}

.mypos-button .icon-gps-fixed {
    font-size: 24px;
}

.icon-size {
    font-size: 23px;
}

.margin-right-15 {
    margin-right: 15px;
}

.without-margin {
    margin: 0px;
}

.white-color {
    background-color: white;
    border-radius: 4px;
}

.loader {
    position: absolute;
    z-index: 999999;
    background-color: white;
}

.map-container {
    position: relative;
}

.cdistance-button {
    position: absolute;
    z-index: 1;
    left: 30px;
    bottom: 70px;
}

.ctime-button {
    position: absolute;
    z-index: 1;
    left: 30px;
    bottom: 30px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-hdt5 {
    background-color: #9aff99;
    text-align: center
}

.tg .tg-s6z2 {
    text-align: center
}

.tg .tg-giv5 {
    background-color: #fffe65;
    text-align: center
}

.tg .tg-4p84 {
    background-color: #fe996b;
    text-align: center
}

.tg .tg-ti69 {
    background-color: #fd6864;
    text-align: center
}

.menu-togleable {
    z-index: 1;
    -webkit-transition: margin-top .3s ease-in-out;
    -moz-transition: margin-top .3s ease-in-out;
    -o-transition: margin-top .3s ease-in-out;
    transition: margin-top .3s ease-in-out;
}

.menu-togleable-opened {
    margin-top: 0px!important;
}

.pollution-indicator {
    font-size: 13px;
    min-width: 145px;
    font-size: 14px;
}

.pollution-indicator .icon-shield {
    font-size: 20px;
}

.average-indicator {
    margin-right: 5px;
    font-size: 16px;
}

.buttons-container {
    position: absolute;
    bottom: 0px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.buttons-container.opened {
    bottom: 191px;
}

#elevation_chart {
    background-color: #f2f2f2;
    min-height: 200px;
    min-width: 100%;
    width: 100%;
    margin-bottom:-200px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#elevation_chart.opened {
    margin-bottom:0px;
}

.toolbar-menu{
    padding: 0px;
}


@media (max-width: 960px) {
    .md-tall-media {
        height: 120px;
    }
}

@media (max-width: 600px) {
    .menu-togleable {
        margin-top: -120px;
    }
    .pollution-indicator {
        position: absolute;
        top: 146px;
        right: 6px;
    }
    .average-indicator {
        display: none;
    }
}
